/*
* @Author: Marte
* @Date:   2018-03-02 11:31:13
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-06 13:07:40
*/
body
{
margin:0px;
padding: 0px;
background:blue;
overflow-x: hidden;
overflow-y: hidden
}
#content
{
    height 400px;
    // overflow:auto;
}
.aa
{
    width:120px;
    height: 120px;
    // background: #3cb371;
    float: left;
   //  border:1px solid green;
   // border-radius:10px;

}

#bb
{
    width:50px;
    height: 30px;
    background:green
}
#ddd
{
    width:82%;
    //background:green;
    height 400px;
}

.p1
{
    width:80px;
    height:35px;
      white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#heading
{
    padding: 0px;
    margin:0px;
    margin: 0px;
    background:#3cb371;
    height:50px;
}